*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    background-color:#CFE2FF;
}
.card{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
} 
.shape__navbar{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background-color: green;
    border-radius: 13px;
}
.left__item{
    width: 50px;
    height: 3px;
    margin-left: 10px;
    background-color: green;
}
.card__copy{
    visibility: hidden;
}
.shape__navbar--second{
    width: 250px;
    height: 90px;
    background-color: #112A3E;
    border-radius: 10px;
}
.left{
    border-radius: 30px;
    opacity: 0.85;
}
hr{
    width: 70px;
    height: 10px;
    border: 1px solid green;
    background-color: green;
    border-radius: 30px;
    opacity: 0.90;
}
.container-fluid-first{
    background-color: #112A3E;
}
.container-fluid-second{
    width: 2000px;
    height: 550px;
    border-radius: 10px;
}
#borders{
    margin: auto;
}
#border--second{
    margin-top: 60px;
    background-color: green;
    border-radius: 0;
    width: 100px;
    height: 100px;
    margin-left: 15px;
}
#border--first{
    position: relative;
    top: -75px;
    width: 250px;
    height: 150px;
    background-color: green;
    border-radius: 10px;
    margin-left: 25px;
}
#box-size-xs{
    width: 80px;
    height: 0;
    border-radius: 3px;
    color: white;
}
#box-size-s{
    width: 50px;
    height: 0;
    border-radius: 3px;
    color: white;
}
#box-size-m{
    width: 50px;
    height: 0;
    border-radius: 3px;
    color: white;
}
.box-size-l{
    width: 80px;
    height: 0;
    border-radius: 3px;
    color: white;
}
.box-size-xl{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    color: green;
}
.box-size-xxl{
    width: 70px;
    height: 1px;
    color: wheat;
    border-radius: 30px;
    opacity: 0.90;
}

